
@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Wincomp Informática Ltda</h1>
    <p class="lead">Projeto desenvolvido no curso de ASP.NET MVC.</p>
    <p><a href="http://www.wincomp.com.br/" class="btn btn-primary btn-lg"> Visite nosso site</a> </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Iniciando</h2>
        <p>
            Este projeto, utiliza ASP.NET MVC 5 e Entity Framework 6
        </p>
    </div>
    <div class="col-md-4">
        <h2>Objetivos</h2>
        <p>Manter um cadastro de Alunos .</p>
    </div>
    <div class="col-md-4">
        <h2>Banco de dados</h2>
        <p>Utilizaremos o SQL Server para armazenar as informações.</p>
    </div>
</div>

