
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("VerificaLogin", "Formularios"))
{
    @Html.Label("Faça seu Login");

    <table width="200">
        <tr>
            <td align="right">Email:</td>
            <td>@Html.TextBox("txtEmail")</td>
        </tr>
        <tr>
            <td align="right">Senha:</td>
            <td>@Html.Password("txtSenha")</td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="Entrar" /></td>
        </tr>
    </table>
    @ViewBag.Alerta
}