@{ 
    Layout = null;
}

<html>
   <head>
       <meta name="viewport" content="width=device-width" />
       <title></title>
   </head>
<body>
    <div>
        <h1>Wincomp Informática Ltda</h1>
        <h2>Curso ASP NET MVC 5</h2>
    </div>
</body>
</html>

