
@{
    ViewBag.Title = "Variaveis";
}

<h2>Variaveis</h2>

<table border="1">
    <tr>
        <td>URL Solicitade</td>
        <td>Caminho relatio</td>
        <td>Tipo HTTP</td>
    </tr>
    <tr>
        <td>@Request.Url</td>
        <td>@Request.FilePath</td>
        <td>@Request.RequestType</td>
    </tr>
</table>